  <div fxLayout="column" fxLayoutAlign="center center" class="h-50-p">
        <h2 class="text-center mb-5" style="text-align:center;">Welcome To ENIS</h2>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>
            <h1>Lab</h1>
          </div>
          <br/>
          <div (click)="tryGoogleLogin()">
            <img src="assets/google.jpg" height="30px" style="display:inline-block; vertical-align: middle;">
            <span style="font-size: 18px;">&nbsp;&nbsp;Sign in with Google</span>
          </div>
        </div>
  </div>
