<div class="main-content">
<button
    mat-raised-button
    color=""
    routerLink=""
    class="addButton"
    style="margin: 1rem"
> Create New Item
</button>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Events Table</h3>
                <p class="card-category">This is a table where there is all the
                    <a target="_blank" href="">Events</a>
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Today's Events</h4>
                        <div class="alert alert-info"*ngFor="let item of pubReceivedByService">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>{{item.date}}&nbsp;{{item.lien}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">Upcoming events</h4>
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>